<!-- Begin MailChimp Signup Form -->
{# 
Don't forget about updatding the form action and hidden field and things
#}

{# <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
#}

<div id="mc_embed_signup">
    <form action="//rainbow-unicorn.us5.list-manage.com/subscribe/post?u=b837cb313a33e01747a28d942&amp;id=e560ebaf33" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">

            <div class="mc-field-group">
                <label for="mce-EMAIL" > {{ __('Email Address','theme-rg') }} </label>
                
                <div class="input-responsive-wrap">
                    <div class="input-responsive">
                        <input type="email" value="" name="EMAIL" class="required email" placeholder="{{ __('Email Address','theme-rg') }}" id="mce-EMAIL">
                    </div>

                    <div class="input-responsive">
                        <input type="submit" value="{{ __('Subscribe','theme-rg') }}" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                </div>

            </div>

            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b837cb313a33e01747a28d942_e560ebaf33" tabindex="-1" value=""></div>

        </div>
    </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
(function($) {
    window.fnames = new Array(); 
    window.ftypes = new Array();
    fnames[0]='EMAIL';
    ftypes[0]='email';
    fnames[1]='FNAME';
    ftypes[1]='text';
    fnames[2]='LNAME';
    ftypes[2]='text';
}(jQuery));

var $mcj = jQuery.noConflict(true);

{% if site.language == 'de-DE' %}
/**
    To customize your embedded form validation messages, place this code before the closing script tag.
    */
    $mcj.extend($mcj.validator.messages, {
        required: "Dieses Feld ist ein Pflichtfeld.",
        remote: "Please fix this field.",
        email: "Geben Sie bitte eine gültige E-Mail Adresse ein.",
        url: "Geben Sie bitte eine gültige URL ein.",
        date: "Bitte geben Sie ein gültiges Datum ein.",
        dateISO: "Please enter a valid date (ISO).",
        number: "Geben Sie bitte eine Nummer ein.",
        digits: "Geben Sie bitte nur Ziffern ein.",
        creditcard: "Geben Sie bitte eine gültige Kreditkarten-Nummer ein.",
        equalTo: "Bitte denselben Wert wiederholen.",
        accept: "Please enter a value with a valid extension.",
        maxlength: $mcj.validator.format("Geben Sie bitte maximal {0} Zeichen ein."),
        minlength: $mcj.validator.format("Geben Sie bitte mindestens {0} Zeichen ein."),
        rangelength: $mcj.validator.format("Geben Sie bitte mindestens {0} und maximal {1} Zeichen ein."),
        range: $mcj.validator.format("Geben Sie bitte einen Wert zwischen {0} und {1} ein."),
        max: $mcj.validator.format("Geben Sie bitte einen Wert kleiner oder gleich {0} ein."),
        min: $mcj.validator.format("Geben Sie bitte einen Wert größer oder gleich {0} ein."),
        mc_birthday: "Please enter a valid month and day.",
        mc_date: "Please enter a valid date.",
        mc_phone: "Please enter a valid phone number.",
    });
{% endif %}

</script>
<!--End mc_embed_signup-->