{{function("get_header")}}
			
<div id="content">

	<div id="inner-content" class="wrap cf">

		<main id="main" class="m-all t-2of3 d-5of7 cf" role="main" itemscope itemprop="mainContentOfPage" itemtype="http://schema.org/Blog">

		{% block content %}
			Sorry, no content
		{% endblock %}


		</main>

	</div>

</div>

{{ function('wp_footer') }}
