{% block html_head_container %}
{% include 'views/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body {{ fn('body_class') }} itemscope itemtype="http://schema.org/WebPage" >

		<div id="container">

			<header class="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">

				<div id="inner-header" class="wrap cf">
					
					<div class="logo-wrap">
						<a href="{{ site.home }}" rel="nofollow" >
							<img class="" src="{{ site.theme.path }}/library/images/logo.svg" height="25" width="193" alt="Realgestalt">
						</a>
					</div>

					<div class="nav-wrap">
						
						<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
                	    <ul class="nav top-nav cf">
                	        {% for item in mainnav.get_items %}
                	                <li class="menu-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                	                </li>
                	        {% endfor %}
                	    </ul>
						</nav>
								    
					    <ul class="nav language-selector">
	                        <li><a href="{{ fn('spi_lang_link','de', '/') }}" lang="de">DEU</a></li>
	                        <li><a href="{{ fn('spi_lang_link','en', '/en/') }}" lang="en">ENG</a></li>
					    </ul>

					    <button class="mobile-menu-toggle">
					        <span>toggle menu</span>
					    </button>

				    </div>

				</div>

			</header>

			<div id="content">

				<div id="inner-content" class="wrap cf">

					<main id="main" class="m-all t-2of3 d-5of7 cf" role="main" itemscope itemprop="mainContentOfPage" itemtype="http://schema.org/Blog">

					{% block content %}
						Sorry, no content
					{% endblock %}

					</main>

				</div>

			</div>

{% block footer %}
	{% include 'views/footer.twig' %}
{% endblock %}