<!doctype html>

<!--[if lt IE 7]><html {{site.language_attributes}} class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html {{site.language_attributes}} class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html {{site.language_attributes}} class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html {{site.language_attributes}} class="no-js"><!--<![endif]-->

<head>
    <meta charset="{{site.charset}}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>            
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="apple-touch-icon" href="{{ site.theme.path }}/library/images/apple-touch-icon.png">
    <link rel="icon" href="{{ site.theme.path }}/favicon.png">
    <!--[if IE]>
        <link rel="shortcut icon" href="{{ site.theme.path }}/favicon.ico">
    <![endif]-->
    <meta name="msapplication-TileColor" content="#f01d4f">
    <meta name="msapplication-TileImage" content="{{ site.theme.path }}/library/images/win8-tile-icon.png">
    
    <meta name="theme-color" content="#121212">

    <link rel="pingback" href="{{site.pingback_url}}">

    {# start of wordpress head  #}
    {{ fn('wp_head') }}
    {# end of wordpress head  #}

</head>
