{% extends "base-page.twig" %}

{% block content %}

	<article id="post-{{ post.id }}" {{ fn('post_class','cf') }} role="article" itemscope itemtype="http://schema.org/BlogPosting">

		<header class="article-header">
			<h1 class="page-title" itemprop="headline">{{ post.title }}</h1>
		</header>

		<section class="entry-content cf" itemprop="articleBody">

			{{ post.content }}

		</section>

	</article>

{% endblock %}


