{% extends "base-page.twig" %}

{% block content %}

	<article id="post-{{ post.id }}" {{ fn('post_class','cf') }} role="article" itemscope itemtype="http://schema.org/BlogPosting">

		<header class="article-header">
			<h1 class="page-title" itemprop="headline">{{ post.title }}</h1>
		</header>

		<section class="entry-content cf" itemprop="articleBody">

			{{ post.content }}

			{# Get image Source for small #}
			{# {{ TimberImage(post.agency_image_people).src('small') }}" #}
			
			{# Get image Source for post thumnail #}
			{# {{ post.thumbnail.src('small') }}" #}

			{# include with passing variables #}
			{# {{ include('inc/teaser.twig', { 'show_full' : false , 'h_tag' : 'h3' } ) }} #}
			{# {% include 'template.html' with {'foo': 'bar'} %} #}

			{# WPML Stringtranslateable #}
			{# <h2>{{ __('Unsere Referenzen') }}</h2> #}
			
			{# ACF Flexible Content Field
			{% for element in post.get_field('reference_elements') %}
			     <a name="{{ element.acf_fc_layout }}" ></a>
			    {% if element.acf_fc_layout == 'element_a' %}
					{% include 'inc/elements/element_a.twig' %}
			    {% elseif element.acf_fc_layout == 'element_b' %}
					{% include 'inc/elements/element_b.twig' %}
			    {% elseif element.acf_fc_layout == 'element_c1' %}
					{% include 'inc/elements/element_c1.twig' %}
			    {% elseif element.acf_fc_layout == 'element_c2' %}
					{% include 'inc/elements/element_c2.twig' %}
			    {% elseif element.acf_fc_layout == 'element_d' %}
					{% include 'inc/elements/element_d.twig' %}
			    {% elseif element.acf_fc_layout == 'element_e' %}
					{% include 'inc/elements/element_e.twig' %}
			    {% elseif element.acf_fc_layout == 'element_f1' %}
					{% include 'inc/elements/element_f1.twig' %}
			    {% elseif element.acf_fc_layout == 'element_f2' %}
					{% include 'inc/elements/element_f2.twig' %}
			    {% elseif element.acf_fc_layout == 'element_g' %}
					{% include 'inc/elements/element_g.twig' %}
			    {% endif %}
			{% endfor %}
			#}

		</section>

	</article>

{% endblock %}


