#mc_embed_signup {
	
	.mc-field-group {
		
		text-align: center;

		label {
			display: none;
		}
		
		input { 
			display: inline-block; 
		}

		#mce-EMAIL {
			margin-bottom: 25px;
		}
	}

	#mc-embedded-subscribe {
 		@extend %btn; // here we load the btn defaults
 	}
}

#mc_embed_signup div.mce_inline_error {
 	background-color: transparent !important;
 	margin: 25px 0 1em 0 !important;
 	padding: 0 !important;
 	font-weight: normal !important;
 	z-index: 1;
 	color: $black !important;
 	text-align: center;
}

@media only screen and (min-width: 481px) {
}


@media only screen and (min-width: 768px) {
	
	#mc_embed_signup {

		.mc-field-group {
		
			text-align: left;
		
			// make the input stretch responsivley
			.input-responsive-wrap {
				display: table;
				.input-responsive {
					display: table-cell; width: 100%; 
				}
			}

			#mce-EMAIL {
				font-size: 1.6em; // 20pt -> 26px -> 1.6 em
				margin-bottom: 0;
				height: 60px;
			}

			#mc-embedded-subscribe {
				font-size: 1.5em; // 18pt -> 24px -> 1.5 em
				margin-left: 25px;
				white-space: nowrap;
			}
		}

		div.mce_inline_error {
	 		text-align: left;
		}
	}
}


@media only screen and (min-width: 1030px) {
}


@media only screen and (min-width: 1240px) {
} 

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
} 


@media print {
}
